html {
  height: 100%;
  width: 100%;
  font-family: 'Verdana', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14pt;
}


h2 {
  font-size: 36pt;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: black;
}

/* NAV BAR */

.nav {
  position: sticky;
  list-style-type: none;
  background-color: #BDCED6;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  height: 80px;
}

.nav li {
  color: black;
  font-size: 14pt;
  padding: 15px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav li a:hover {
  color: #6eaa9b;
  background-color: #f9f0f0;
  cursor: pointer;
}

.nav-logo {
  display: block;
  float: left;
  margin-top: 30px;
}

.nav-links {
  float: right;
  margin-top: 30px;
}

.scrolling {
  height: 60px;
  background-color: #BDCED6;
  transition: height 0.3s, background-color 0.3s;
}


/* 1. HOME SECTION */

h1 {
  text-align: center;
  color: black;
  font-size: 60pt;
  /*margin-top: 10%;*/
}

img {
display: block;      
  width: 50%;          
  height: auto;        
  margin-left: auto;
  margin-right: auto;
  
}

  
  
/* 2. MISSION SECTION */

.section2 {
  display: block;
  margin: 5% 0 10% 0;
  height: 70%;
  padding: 5% 20%;
  background-color: #f0d0da;
}

.section2-text {
  text-align: center;
}

/* 3. STATS SECTION */

.section3 {
  display: block;
  padding: 2% 25%;
  color: #000000;
  background-color: #ceedd7;
}

.section3 img {
  margin: 35px 10px;
}

/* 3. SOlution */

.section4 {
  display: block;
  padding: 2% 25%;
  background-color: #f0d0da;
  margin: 10% 0 10% 0;
  color: black;
}

.section4 img {
  margin: 35px 10px;
}

/* 4. SUPPORT SECTION */

.section5 {
  display: block;
  padding: 2% 25%;
  background-color: #ceedd7;
  margin: 10% 0 10% 0;
}

.section5-text {
  text-align: left;
  /*text-align: left;
  padding: 200px;*/
}

.section5-text ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.section5-text ul li p:first-of-type {
  font-weight: bold;
  font-size: 16pt;
}

/* ABOUT SECTION */

.section6 {
  display: block;
  color: #000000;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0d0da;
  padding:20px;
}
.section6 h2{
  margin-left: 25px;
}

.cards {
  display: inline-flex;
}

.card {
  margin: 25px
}

a:hover {
  color: #6eaa9b;
  background-color: #f9f0f0;
  cursor: pointer;
}
